/*** Variabili e Mixin ***/
/*** Generali ***/
body {
  font-family: Montserrat !important;
  color: #ffffff;
  background-color: #080d04;
  line-height: 1.3;
  min-height: 100vh; }

/*** Navbar ***/
nav {
  background: black;
  background: linear-gradient(180deg, black 0%, #080d04 82%, rgba(8, 13, 4, 0) 100%);
  padding: 24px !important; }
  nav img {
    width: 60px;
    height: auto;
    border: 1px solid white;
    box-shadow: 1px 1px 4px 1px rgba(210, 210, 210, 0.7), -1px -1px 4px 1px rgba(210, 210, 210, 0.7), -1px 1px 4px 1px rgba(210, 210, 210, 0.7), 1px -1px 4px 1px rgba(210, 210, 210, 0.7); }
  nav li {
    font-weight: 500;
    display: inline;
    margin-right: 1.8em;
    transition: text-shadow 0.2s ease-out, font-weight 0.2s ease-out; }
    nav li:hover {
      text-shadow: 1px 1px 8px rgba(210, 210, 210, 0.7), -1px -1px 8px rgba(210, 210, 210, 0.7), -1px 1px 8px rgba(210, 210, 210, 0.7), 1px -1px 8px rgba(210, 210, 210, 0.7) !important; }
    nav li a {
      color: white !important;
      text-decoration: none;
      font-size: 1.3em;
      transition: color 0.3s ease-out; }
    nav li a:hover {
      color: #080d04 !important; }
    nav li .active {
      font-weight: bold;
      text-shadow: 1px 1px 8px rgba(210, 210, 210, 0.7), -1px -1px 8px rgba(210, 210, 210, 0.7), -1px 1px 8px rgba(210, 210, 210, 0.7), 1px -1px 8px rgba(210, 210, 210, 0.7) !important; }
    nav li .active:hover {
      color: white !important; }
  nav .nav-item:last-of-type {
    margin-right: 0; }

#homeNav {
  background: black !important;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0) 100%) !important; }

.navbar-toggler {
  color: transparent !important;
  border: 2px white solid !important; }
  .navbar-toggler:hover {
    box-shadow: 1px 1px 8px 1px rgba(210, 210, 210, 0.7), -1px -1px 8px 1px rgba(210, 210, 210, 0.7), -1px 1px 8px 1px rgba(210, 210, 210, 0.7), 1px -1px 8px 1px rgba(210, 210, 210, 0.7); }

@media screen and (max-width: 991px) {
  nav {
    text-align: center;
    background: black !important;
    background: linear-gradient(180deg, black 0%, #080d04 90%, rgba(8, 13, 4, 0) 100%) !important; }
    nav .nav-item:first-of-type {
      margin-top: 1em !important; }
    nav .nav-item:last-of-type {
      margin-right: 1.8em !important;
      margin-bottom: 2em !important; } }

/*** Footer ***/
footer {
  padding: 12px 24px;
  background: black !important;
  background: linear-gradient(180deg, #080d04 0%, black 50%, rgba(132, 138, 127, 0.225) 100%) !important; }
  footer a {
    color: white; }
    footer a:hover {
      color: white; }
  footer li {
    transition: text-shadow 0.2s ease-out; }
    footer li:hover {
      text-shadow: 1px 1px 8px rgba(210, 210, 210, 0.7), -1px -1px 8px rgba(210, 210, 210, 0.7), -1px 1px 8px rgba(210, 210, 210, 0.7), 1px -1px 8px rgba(210, 210, 210, 0.7) !important; }
  footer i {
    font-size: 1.5em;
    margin-right: 0.5em; }
  footer small {
    font-size: 0.8em; }

#homeFooter {
  background: none !important; }

/*** Home Page ***/
#homepage {
  background-image: url("../assets/banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 130%;
  text-align: center;
  height: calc(100vh - 55.2px); }

@media screen and (min-width: 992px) {
  #homepage {
    background-size: cover; } }

#plankton-logo {
  width: 80%;
  margin-top: 130px; }

#orchestra-logo {
  width: 80%;
  margin-top: 300px; }

@media screen and (min-width: 425px) {
  #plankton-logo {
    margin-top: 110px; }
  #orchestra-logo {
    margin-top: 320px; } }

@media screen and (min-width: 768px) {
  #plankton-logo {
    width: 60%; }
  #orchestra-logo {
    width: 60%;
    margin-top: 340px; } }

@media screen and (min-width: 1200px) {
  #orchestra-logo {
    margin-top: 340px; } }

@media screen and (min-width: 1350px) {
  #orchestra-logo {
    margin-top: 400px; } }

@media screen and (min-width: 1600px) {
  #orchestra-logo {
    margin-top: 500px; } }

@media screen and (min-width: 1900px) {
  #plankton-logo {
    margin-top: 150px; }
  #orchestra-logo {
    margin-top: 600px; } }

@media screen and (min-width: 2200px) {
  #plankton-logo {
    margin-top: 180px; }
  #orchestra-logo {
    margin-top: 720px; } }

/*** About ***/
#about {
  padding-top: 110px;
  min-height: calc(100vh - 55.2px); }
  #about h1 {
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 0.8em; }
  #about p {
    margin-bottom: 2em; }
  #about img {
    padding: 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0 0 20px;
    margin: auto;
    margin-bottom: 32px;
    border-radius: 5px; }

@media screen and (min-width: 992px) {
  #about .row div:first-of-type {
    padding: 0 3em !important; }
  #about .row div:nth-of-type(2) {
    padding: 0em 3em !important; } }

@media screen and (min-width: 1200px) {
  #about img {
    width: 80%; }
  #about p {
    font-size: 1.2em; } }

/*** Videos ***/
#videos {
  padding: 110px 2em 0 2em;
  min-height: calc(100vh - 55.2px); }
  #videos h1 {
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    margin-bottom: 0.5em; }

@media screen and (max-width: 991px) {
  .mainVideo {
    height: 300px; } }

@media screen and (max-width: 767px) {
  .mainVideo {
    height: 200px; } }

.videoPlayer iframe {
  margin-bottom: 2em;
  height: 100%;
  width: 100%;
  box-shadow: rgba(149, 157, 165, 0.2) 0 0 20px;
  border-radius: 5px; }

.videoPlayer h3 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-size: 1.3em; }

.videoPlayer h4 {
  margin-bottom: 0.5em;
  font-size: 1.1em; }

.videoDescription {
  margin-bottom: 2em; }
  .videoDescription p {
    font-size: 0.9em; }

.playlistEl {
  height: calc(33.33% - 8px);
  box-sizing: border-box;
  margin-bottom: 12px;
  width: 100%;
  padding: 0.5em;
  border-radius: 5px;
  transition: box-shadow 0.3s ease-out, background-color 0.3s e; }
  .playlistEl img {
    min-width: 120px; }
  .playlistEl div {
    font-size: 0.8em;
    flex-shrink: 1; }
    .playlistEl div p {
      display: none; }

@media screen and (min-width: 450px) {
  .playlistEl div {
    font-size: 1em; }
    .playlistEl div p {
      display: block; } }

.playlistEl:last-of-type {
  margin-bottom: 0px; }

.playlistEl:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0 0 10px;
  background-color: #191d1a;
  cursor: pointer; }

.activeVideo {
  box-shadow: rgba(149, 157, 165, 0.2) 0 0 10px;
  background-color: #191d1a; }

/*** Gallery ***/
#gallery {
  padding-top: 110px;
  min-height: calc(100vh - 55.2px); }
  #gallery h1 {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 0.5em; }

.grid-item {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0 0 20px; }

@media screen and (min-width: 768px) {
  .grid-item {
    width: calc(50% - 10px); } }

@media screen and (min-width: 1024px) {
  .grid-item {
    width: calc(33.333% - 10px); } }

/*** Tour ***/
#tour {
  padding-top: 110px;
  min-height: calc(100vh - 55.2px);
  text-align: center; }
  #tour h1 {
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 1em; }
  #tour img {
    margin-bottom: 1em;
    box-shadow: rgba(149, 157, 165, 0.2) 0 0 20px;
    border-radius: 5px; }

.tourInfo {
  margin-bottom: 2em; }

/*** Contacts ***/
#contacts {
  padding-top: 110px;
  min-height: calc(100vh - 55.2px); }
  #contacts h1 {
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 0.8em; }
  #contacts li {
    margin-bottom: 1em;
    font-size: 0.9em; }
    #contacts li * {
      display: inline; }
    #contacts li i {
      font-size: 1.2em;
      margin-right: 1em; }
  #contacts a {
    color: white;
    text-decoration: none; }
  #contacts img {
    padding: 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0 0 20px;
    margin: auto;
    margin-bottom: 32px;
    border-radius: 5px; }

@media screen and (min-width: 768px) {
  #contacts h1 {
    text-align: center; }
  #contacts .row > div {
    padding: 0; }
  #contacts .contactsContainer {
    width: 40%;
    margin: 0 auto; }
    #contacts .contactsContainer ul {
      position: relative;
      left: 32px; } }

@media screen and (min-width: 992px) {
  #contacts {
    display: flex;
    align-items: center; }
    #contacts h1 {
      text-align: start; }
    #contacts .contactsContainer {
      width: 80%;
      margin: 0 auto; }
      #contacts .contactsContainer ul {
        position: static;
        font-size: 1.1em; } }

@media screen and (min-width: 992px) {
  .contactsContainer {
    width: 70%; } }
